* {
  box-sizing: border-box;
}  

p {background-color:lightblue;
font-family:Verdana;
}

header {
	background-color: #666;
	padding:30px;
	text-align: center;
	font-size:35px;
	color:gray;
}

p.error{
	font-size: 150%;
	color: red;
	}
		h1 {
			background-color:blue;
			}
		h2 {
			background-color:green;
			}
			
	