* {
  box-sizing: border-box;
}  



header {
	background-color: #666;
	padding:30px;
	text-align: center;
	font-size:35px;
	color:white;
}jn


		/* Section for second line */

		section:after {
			content:"";
			display: table;
			clear: both;
		}
		/* Create two colums/boxes that float next to each other */
		 nav {
			 float: left;
			 width: 30%;
			 height: 300px; 
			 background: darkgray;
			 padding: 20px;
		 }

		 nav ul { 
		 list-style-type: none;
		 padding: 0;
		 }

		 article { 
		 float: left;
		 padding: 20px;
		 width: 70%;
		 background-color: lightgray;
		 height: 300px;
		}

		footer { 
		background-color: gray;
		padding: 10px;
		text-align: center;
		color: white;
		}		




